.carousel-item {
    height: 500px;
    position: relative;
    background-color: #000;
}

#carousel-item {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    color: white;
    opacity: 0.8;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;    
}

#branding {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 32px;
}

img {
    height: 300;
    width: 300;
}

* {
    font-family: 'Raleway';
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

#overlay-img-news {
    color: #000;
}

#newsContainer {
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;

}

#newsCard {
    /* height: 500px;
    width: 450px; */
    min-height: 400px;
    min-width: 350px;
    max-height: 400px;
    max-width: 350px;
    font-size: 14px;

}

#link {
    text-decoration: none;
    color: #000;
}

.card-body {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

#col {
    padding-right: auto;
    margin: auto;
}

#carouselHeadline {
    position: absolute;
    padding-bottom: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 120px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#carousel-p {
    margin: auto;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 40px;
    color: white;
    opacity: 0.8;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
}